@model OnlineExam.Models.Admin

@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<br />
<br />
@using (Html.BeginForm("AddAdmin", "Home", FormMethod.Post, new
{ style = "padding:10px 50px 100px;margin-right:100px;margin-top:50px;border:1px solid black;" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1 style="text-align:center;background-color:darkcyan">Add/Remove Admin</h1>

        @if (ViewBag.msg != null)
        {
            <div class="alert alert-success">
                @ViewBag.msg
            </div>
        }
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "width:300px" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @style = "width:300px" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-4 col-md-4">
                <input type="submit" value="Add" class="btn btn-success" />&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" name="R" value="Remove" class="btn btn-success" />
            </div>
        </div>
    </div>
}
<br/>
<br/>
<div>

    <table id="myTable" class="table table-responsive table-striped compact">
        <thead>
            <tr bgcolor="darkcyan">
                <th>Id</th>
                <th>Email</th>
                <!--<th>Password</th>-->
            </tr>
        </thead>
    </table>
</div>
@*Datatable css*@
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />

@*jquery*@
@section Scripts{
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#myTable').DataTable({
              
 
                "ajax": {
                    "url": "/home/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Id", "autowidth": true },
                    { "data": "Email", "autowidth": true },
                     
                   
                ]
            });

        });
    </script>
}